h1 { 
    color: magenta;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
}

h2 { 
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}