#div-1{
    border: 2px solid black;
    background-color: aquamarine;
}

#div-2{
    border: 2px solid black;
    background-color: plum;
}

#div-circle-1{
    animation: go-back 1s infinite alternate;
}

#div-circle-2{
    animation: go-back-2 2s infinite ease;
}

#div-circle-3{
    animation: go-back-3 4s infinite ease-in-out;
}

#div-circle-4{
    animation: go-back-4 8s infinite ease-in;
}

.circle-div-1{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 2px;
    
}


@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes go-back-2 {
    from {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes go-back-3 {
    from {
      transform: translateX(300px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes go-back-4 {
    from {
      transform: translateX(90px);
    }
    to {
      transform: translateX(0);
    }
  }

#div-animation{
    display: flex;
    flex-direction: row;
    
}

img{
    border: 4px solid black;
    margin: 4px
}

body{
    background-color: lightgray;
}

.sun-div {
    overflow: hidden; 
    background-color: lightblue;
    display: flex;
    justify-content: center; 
    width: 100%;
    height: 200px;
    border: 2px solid black;
  }
  
  .sun {
    background-color: yellow;
    border-radius: 50%; 
    height: 20vh;
    aspect-ratio: 1 / 1;
    animation: 4s linear 0s infinite alternate sun-rise;
  }
  
  @keyframes sun-rise {
    from {
     
      transform: translateY(110vh);
    }
    to {
      transform: translateY(0);
    }
  }

  .div-anim{
    display: flex;
    flex-direction: column;
  }

  .animations-1{
    display: flex;
    flex-direction: column;
  }

  .div-circles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .anim-div{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
  }

  .ball {
    margin-top: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    border: 2px solid #999;

  }

  #ball-1{
    -webkit-animation: bounce 1s infinite alternate;
  }
  #ball-2:hover{
    -webkit-animation: bounce .1s infinite alternate;
    background-color: black;
  }
  #ball-3{
    -webkit-animation: gelatine 0.5s infinite;
    background-color: blueviolet;
  }
  #ball-4:hover{
    -webkit-animation: gelatine .1s infinite alternate;
    background-color: black;
  }
  @keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

  #div-2-sect{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
  }
  .ball-fade{
    margin-top: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: red;
    border: 3px solid black
  }
  .ball-fade:hover {
    background-color: orange;
    animation: fadein 1s infinite alternate;
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  #div-fadein{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  #div-3{
    border: 2px solid black;
    background-color: yellow;
  }

  .ball-rotate{
    margin-top: 50px;
    border-radius: 1%;
    width: 50px;
    height: 50px;
    background-color: red;
    border: 3px solid black;
    
  }

  #ball-rotate-1{
    animation:spin 4s linear infinite;
    overflow: hidden;
    transition: spin 0.8s transform ease;
  }

  #ball-rotate-2:hover{
    background-color: antiquewhite;
    animation:spin 4s linear infinite;
    overflow: hidden;
    transition: spin 0.8s transform ease;
  }

  #div-rotatein{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }


  @keyframes spin { 
    100% { 
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    } 
}
  
#div-4{
    background-color: aquamarine;
    border: 2px solid black;
}

.animated-div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.animated-div:hover {
    translate: 100px;
    border: 5px solid black;
    border-radius: 50%;
}

@keyframes example {
    0% {background-color: red;}
    50% {background-color: yellow;}
    100% {background-color: blue;}
}

#div-5{
    background-color: fuchsia;
    border: 2px solid black;
}

#div-everythingin{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

button{
    width: 140px;
    height: 40px;
    background-color: green;
}

button:hover{
    background-color: lightgreen;
}

#button-div{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

