#form-1 {
    display: flex;
    flex-direction: column;
    background: linear-gradient(60deg, rgba(2,0,36,1) 16%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 80%);
    align-items: center;
    border: 2px solid black;
    border-radius: 13px;
    width: 40vw
}

#form-div { 
    width: 30vw;
    height: 30vh;
    

}

.cadastro {
    font-weight: bold;
    font-size: 28px;
}

#form-1 label {
    margin-bottom: 2px;
    font-weight: bold;
    background-color:rgba(83, 225, 253, 0.445);
    color: white;
    border: 2px solid linear-gradient(60deg, rgba(2,0,36,1) 16%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 80%);
    border-radius: 3px;
    padding: 2px 6px 2px 6px;
    text-align: center;
}

#name-label{
    margin-top: 8px;
}

#main-div { 
    text-align: center;
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

input, select {
    width: 11vw;
    margin-bottom: 19px
}

#send-button {
    background-color: aquamarine;
    border: 3px solid black;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    border-radius: 14px;
}

#send-button:hover {
    background-color: aqua;
    transform: translateY(-2px);
}

